*{
    padding: 0;
    margin: 0;
}
td, th{
    text-align: center;
}
.notes-nothing-found{
    color: #52575c;
    width: 100%;
    margin-top: 10px;
    padding: 10px;
    text-align: center;
    font-weight: bold;
}
#edit-table{
    padding: 5px;
    padding-left: 30px;
    border-left: 1px solid rgba(128, 128, 128, 0.596);
}
#edit-table svg:hover{
    opacity: 0.6;
}
#edit-table path{
    color:#a2a3a3;
}
.active-semester{
    background-color: #343a40;
}
.semester-choose{
    list-style: none;
}
.semester-choose a{
    display: block;
    border-radius: 5px;
    border: 1px solid rgb(196, 196, 196);
    padding: 3px;
    margin: 5px;
    cursor: pointer;
    display: block;
    text-decoration: none;
    color: var(--hlsRot);
}
.semester-choose a:hover{
    background-color: var(--hlsRot);
    color: white;
    border-color: transparent;
}
#semesters{
    display: flex;
    width: 100%;
    align-items: center;
    justify-content: center;
    overflow: auto;
    border-top: 1px solid #bebebe;
    border-bottom: 1px solid #bebebe;
}
.table-notes-norm{
    margin: 10px;
    width: fit-content;
    overflow: auto;
}
.table-notes-norm tr{
    padding: 5px;
    background-color: var(--hlsRot);
}
.table-notes-norm th{
    width: fit-content;
    padding: 5px;
}
.table-notes-norm td{
    min-width: 50px;
    width: auto;
    padding: 10px;
}
.table-notes-norm  tr:nth-child(even){
    background-color: var(--hlsRot);
    opacity: 0.9;
}
.table-notes-norm td, #table-notes-norm th{
    padding: 12.5px;
}
.grade-bad{
    color: #ff0000;
}
.grade-good{
    color: #4ada26;
}
#tables{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    flex-wrap: wrap;
}
.calculates{
    width: auto;
    margin: 10px;
    border-radius: 5px;
    background-color: var(--hlsRot);
}
.calculates h2{
    color: white;
    padding: 10px;
}
.calculates td, .calculates th{
    text-align: left;
}
.table-notes-end td, .table-notes-end th{
    padding: 10px;
}
.table-notes-end th{
    text-align: left;
    padding-bottom: 2px;
    padding-top: 2px;
    margin-left: 10px;
}
#top-bar-gui{
    margin: 5px;
    display: flex;
    flex-direction: row;
    justify-content: left;
    align-items: center;
}
#top-bar-gui a{
    margin-left: 30px;
    font-size: 25px;
}
.splitline{
    padding-left: 0;
    margin-left: 0;
    width: 100%;
    height: 2px;
    background-color: #ffffff;
}
.not-notes-found{
    margin: 20px;
    color: var(--hlsRot);
}
.semester-content{
    display: none;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
    width: 100%;
}
.semester-content:target{
    display: flex;
}