:root{
    --hlsRot: #9a0941;
}
h1.site-title{
    font-size: large;
    padding: 5px;
    position: fixed;
    bottom: 0;
    right: 0;
    background-color: transparent;
}
.navigation{
    width: calc(100% - 10px);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px;
}
.navigation div{
    padding: 5px;
    margin-left: 10px;
    margin-right: 10px;
    border: 1px solid gray;
    color: var(--hlsRot);
    border-radius: 5px;
    cursor: pointer;
}
.navigation a{
    text-decoration: none;
}
.school-content{
    display: none;
}
#BMS{
    display: block;
}
#code-container {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}

#code-container label {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: white;
}

#invalid-input{
    color: red;
    margin: 10px;
}

#code-container input {
    width: 100%;
    font-family: Verdana;
    padding: 15px;
    margin: 5px 0 22px 0;
    display: inline-block;
    border: none;
    background: #d4d4d4;
    border-radius: 5px;
    color: #535353;
}

#code-container button {
    background-color: #ebebeb;
    color: var(--hlsRot);
    padding: 16px 20px;
    margin: 8px 0;
    border: none;
    cursor: pointer;
    width: 106%;
}
#code-container button:hover{
    opacity: 0.8;
}