h1{
    margin: 5px;
    color: var(--hlsRot);
}
#list-notes-container{
    width: 250px;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
    padding: 10px;
    position: relative;
    border-radius: 5px;
    height: calc(75vh);
    overflow-y: auto;
    overflow-x: hidden;
}
#list-notes-expand{
    margin: 10px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    color: white;
    cursor: pointer;
}
#list-notes-expand svg path{
    color: var(--hlsRot);
}
#list-notes-expand:hover{
    opacity: 0.6;
}

.stickynotelistelement{
    margin-bottom: 10px;
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
    background-color: rgb(235, 235, 235);
    border-radius: 5px;
    cursor: pointer;
    position: relative;
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.747);
}
.stickynotelistelement-active{
    background-color: rgb(235, 235, 235);
    border: 1px solid rgb(168, 168, 168);
    box-shadow: 5px 5px 5px rgba(0, 0, 0, 0.87);
}
.stickynotelistelement:hover{
    opacity: 0.6;
}
.stickynotelistelementIcon{
    font-size: xx-large;
    margin: 10px;
}
.stickynotelistelementIcon svg path{
    fill: var(--hlsRot);
}
.StickyNoteListElActionsContainer{
    position: absolute;
    z-index: 12;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}
.stickynotelistelementDelete, .stickynotelistelementEdit{
    border: none;
    background-color: transparent;
    margin: 2px;
    cursor: pointer;
}

.stickynotelistelementDelete:hover, .stickynotelistelementEdit:hover{
    opacity: 0.6;
}
.stickynotelistelementDelete path{
    color: red;
}
.stickynotelistelementEdit path{
    color: rgb(159, 159, 253);
}
.StickyNoteListElActionsContainer_ex{
    top: 0;
    right: 0;
    margin: 5px;
}
.StickyNoteListElActionsContainer_notex{
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.stickynotelistelementContainer{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: baseline;
}
.stickynotelistelementTitle{
    color: #414141;
    font-size:medium;
    margin-bottom: 5px;
}
.stickynotelistelementTime{
    color: #414141;
    font-size: x-small;
    opacity: 0.75;
}
.content-title-bar-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}
.create-stickyNote{
    padding: 5px;
    background-color: rgba(0, 0, 0, 0);
    border: none;
    font-size: xx-large;
    cursor: pointer;
}
.create-stickyNote svg{
    width: 17px !important;
}
.create-stickyNote svg path{
    fill: var(--hlsRot);

}
.create-stickyNote:hover{
    opacity: 0.6;
}
#notes-editor-container{
    width: 100%;
    height: 100%;
    background-color: white;
    margin-right: 10px;
}
/********* EDITOR JS************/
#editorjs{
    background-color: rgb(230, 230, 230);
    max-height: 80vh;
    overflow: auto;
}
.ce-toolbar__settings-btn{
    background-color: transparent;
}
.ce-block__content, .ce-toolbar__content{
    margin: 0 15px;
}
.ce-toolbar__plus{
    left: 17px;
}
.ce-toolbox{
    left: 45px;
}
.cdx-block{
    color: #242525;
}
.ce-toolbox__button svg path{
    fill: #242525;
}
#editorjs use{
    fill: var(--hlsRot);
}
/******************************/
.content-container-stickynotes{
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-content: flex-start;
}

#create-stickynote-container, #change-stickynote-title-container{
    display: none;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    background-color: #dadada;
    border: 1px solid rgb(199, 199, 199);
    animation: elementPopUp 0.5s ease forwards;
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    z-index: 100;
    padding: 10px;
    padding-bottom: 0;
    box-shadow: 0px 3px 33px 12px rgba(0, 0, 0, 0.486);
}

@keyframes elementPopUp {
    from {
        transform: translate(-50%, -50%) scale(0);
    }
    to {
        transform: translate(-50%, -50%) scale(1);
    }
}

.create-stickynote-header, .change-stickynote-title-header{
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
}

.create-stickynote-header p path, .change-stickynote-title-header p path{
    cursor: pointer;
    color: var(--hlsRot);
}
.create-stickynote-header p:hover, .change-stickynote-title-header p:hover{
    opacity: 0.6;
}

.create-stickynote-header h2, .change-stickynote-title-header h2{
    color: var(--hlsRot);
}

.create-stickynote-body, .change-stickynote-title-body{
    width: 100%;
    margin: 10px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.create-stickynote-body input, .change-stickynote-title-body input{
    padding: 10px;
    background-color: #e2e2e2;
    border: 1px solid rgb(153, 153, 153);
    color: rgb(85, 85, 85);
}

.create-stickynote-body input:focus, .change-stickynote-title-body input:focus{
    outline: none;
}

.create-stickynote-body button, .change-stickynote-title-body button{
    margin: 10px;
    background-color: #d3d3d3;
    border-radius: 0;
    border: 1px solid rgb(146, 146, 146);
    padding: 5px;
    color: var(--hlsRot);
    cursor: pointer;
}

.create-stickynote-body button:hover, .change-stickynote-title-body button:hover{
    opacity: 0.8;
}

.config-editor-container{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: right;
}

#autosave-off-save-editor{
    background-color: rgb(216, 216, 216);
    color: var(--hlsRot);
    padding: 5px;
    border-radius: 5px;
    margin: 10px;
    cursor: pointer;
    border: none;
}

#autosave-off-save-editor:hover{
    opacity: 0.6;
}

#set-autosave{
    cursor: pointer;
    margin: 5px;
}

.config-editor-container label{
    font-size: small;
    color: rgb(185, 185, 185);
}

.set-autosave-container{
    margin-right: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: flex-start;
}

#no-stickynotes-found{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
#no-stickynotes-found p{
    color: var(--hlsRot);
    text-align: center;
}

.no-stickynotes-found-imgcontainer{
    position: relative;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

#no-stickynotes-found img{
    width: 50%;
}

/********** Loading ***********************/

#loading-container{
    height: 45px;
    width: 45px;
    position: relative;
    display: none;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    padding: 2px;
    transform: scale(0.8);
}

.loader,
.loader:before,
.loader:after {
  background: #8a8a8aa4;
  animation: load1 1s infinite ease-in-out;
  width: 8px;
}
.loader {
  color: #8a8a8aa4;
  position: relative;
  animation-delay: -0.16s;
}
.loader:before,
.loader:after {
  position: absolute;
  top: 0;
  content: '';
}
.loader:before {
  left: -1em;
  animation-delay: -0.32s;
}
.loader:after {
  left: 1em;
}
@keyframes load1 {
  0%,
  80%,
  100% {
    box-shadow: 0 0;
    height: 1px;
  }
  40% {
    box-shadow: 0 -1em;
    height: 20px;
  }
}
/********************************************/